# The data for this project is from https://www.kaggle.com/datasets/davidcariboo/player-scores?select=players.csv

# Needed imports

In [1]:
import os
import warnings
import pandas as pd
from urllib.parse import quote_plus
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, ArrayType, MapType, StringType, IntegerType, DoubleType
from pyspark.sql.functions import when, explode, col, expr, sum as _sum, countDistinct

# Silence annoying future warning
warnings.simplefilter(action='ignore', category=FutureWarning)

# Initialize MongoDB client
See README.md for setup instructions.

In [2]:
username = quote_plus('common')
password = quote_plus(os.environ.get('MONGODB_PASSWORD'))
uri = f"mongodb+srv://{username}:{password}@playervaluations.v7jevdf.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

# Extracting the data from the mongo database into a pandas dataframe

In [3]:
db = client['player_valuations']
collection = db['players']
res = collection.find()

df = pd.DataFrame(list(res))
df.drop("_id", axis=1, inplace=True)

# Defining the schema for the player valuation pyspark dataframe

In [4]:
schema = StructType([
    StructField("player_id", IntegerType(), True),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("name", StringType(), True),
    StructField("last_season", IntegerType(), True),
    StructField("current_club_id", IntegerType(), True),
    StructField("player_code", StringType(), True),
    StructField("country_of_birth", StringType(), True),
    StructField("city_of_birth", StringType(), True),
    StructField("country_of_citizenship", StringType(), True),
    StructField("date_of_birth", StringType(), True),
    StructField("sub_position", StringType(), True),
    StructField("position", StringType(), True),
    StructField("foot", StringType(), True),
    StructField("height_in_cm", DoubleType(), True),
    StructField("contract_expiration_date", StringType(), True),
    StructField("agent_name", StringType(), True),
    StructField("image_url", StringType(), True),
    StructField("url", StringType(), True),
    StructField("current_club_domestic_competition_id", StringType(), True),
    StructField("current_club_name", StringType(), True),
    StructField("market_value_in_eur", DoubleType(), True),
    StructField("highest_market_value_in_eur", DoubleType(), True),
    StructField("valuations", ArrayType(StructType([
        StructField("player_id", IntegerType(), True),
        StructField("date", StringType(), True),
        StructField("datetime", StringType(), True),
        StructField("dateweek", StringType(), True),
        StructField("market_value_in_eur", IntegerType(), True),
        StructField("current_club_id", IntegerType(), True),
        StructField("player_club_domestic_competition_id", StringType(), True),
    ]), True), True),
])

# Starting a spark session and extracting the raw data into spark dataframes

In [5]:
ss = SparkSession.builder.master("local[*]").getOrCreate()

player_valuation_df=ss.createDataFrame(df, schema = schema)
games_df = ss.read.option("multiline","true").json("raw_data\\transfermarkt\\games.json")
game_events_df = ss.read.csv("raw_data\\transfermarkt\\game_events.csv", header=True, inferSchema=True)

# Some cleaning operations

In [6]:
# Dropping some columns that we don't need
player_valuation_df = player_valuation_df.drop(*["image_url", "url", "name", "player_code"])

# Fixing data for retaired players or players that are no longer tracked
player_valuation_df = player_valuation_df.withColumns({
    "current_club_id": when(player_valuation_df["last_season"] != 2023, -1).otherwise(player_valuation_df["current_club_id"]),
    "current_club_domestic_competition_id": when(player_valuation_df["last_season"] != 2023, "-1").otherwise(player_valuation_df["current_club_domestic_competition_id"]),
    "current_club_name": when(player_valuation_df["last_season"] != 2023, "Retired or no longer tracked").otherwise(player_valuation_df["current_club_name"]),
    "market_value_in_eur": when(player_valuation_df["last_season"] != 2023, 0).otherwise(player_valuation_df["market_value_in_eur"])
})

# Dropping some columns that we don't need
games_df = games_df.drop(*["url", "aggregate", "home_club_formation", "away_club_formation"])

# Max market value player in 2023. If there are many with the same max value take them all.

In [7]:
# Get player values
valuations = player_valuation_df.select("valuations")

# Flatten the valuations array
flattened_valuations = valuations.select(explode("valuations").alias("valuation"))

# Get the player values in 2023
valuations2023 = flattened_valuations.filter("substring(valuation.date, 1, 4) = '2023'")

# Get the market values of all players in 2023 and sort them descending
players_market_values_2023 = valuations2023\
    .select("valuation.*").groupBy("player_id").max("market_value_in_eur")\
    .withColumnRenamed("max(market_value_in_eur)", "market_value_in_eur")\
    .join(player_valuation_df.select("player_id", "first_name", "last_name"), on="player_id", how="inner")\
    .orderBy('market_value_in_eur', ascending=False)\
    .select("first_name", "last_name", "market_value_in_eur")

# Get the max market value
max_value = players_market_values_2023.select("market_value_in_eur").first()["market_value_in_eur"]

# Get the players with the max market value
max_value_players = players_market_values_2023.filter(col("market_value_in_eur") == max_value)

max_value_players.show()

+----------+----------+-------------------+
|first_name| last_name|market_value_in_eur|
+----------+----------+-------------------+
|    Kylian|    Mbappé|          180000000|
|    Erling|   Haaland|          180000000|
|      Jude|Bellingham|          180000000|
+----------+----------+-------------------+

# Top 5 clubs by market value

In [8]:
# Extract 2023 valuations and aggregate market values by player and club.
player_club_valuations_2023 = valuations2023\
    .select("valuation.*")\
    .groupBy("player_id", "current_club_id")\
    .max("market_value_in_eur")\
    .withColumnRenamed("max(market_value_in_eur)", "market_value_in_eur")

# Join with player_valuation_df to get club names
player_club_valuations_2023 = player_club_valuations_2023\
    .join(player_valuation_df.select("player_id", "current_club_id", "current_club_name"), 
          on=["player_id", "current_club_id"], 
          how="inner")

# Create a new dataframe that gives the total market value of all players for each club in 2023.
club_market_values_2023 = player_club_valuations_2023\
    .groupBy("current_club_id", "current_club_name")\
    .agg(_sum("market_value_in_eur").alias("total_market_value_in_eur"))

# Display the top 5 clubs with the highest total player market value in 2023.
top_clubs_by_market_value_2023 = club_market_values_2023\
    .orderBy('total_market_value_in_eur', ascending=False)\
    .limit(5)

top_clubs_by_market_value_2023.show(truncate=False)

+---------------+---------------------------------+-------------------------+
|current_club_id|current_club_name                |total_market_value_in_eur|
+---------------+---------------------------------+-------------------------+
|281            |Manchester City Football Club    |1323700000               |
|11             |Arsenal Football Club            |1166000000               |
|583            |Paris Saint-Germain Football Club|1138800000               |
|418            |Real Madrid Club de Fútbol       |1105000000               |
|631            |Chelsea Football Club            |1099300000               |
+---------------+---------------------------------+-------------------------+

# Number of clubs that hold the top 1% players in value

In [9]:
max_valuations2023 = valuations2023\
    .select("valuation.player_id", "valuation.market_value_in_eur", "valuation.current_club_id")\
    .groupBy("player_id").agg({"market_value_in_eur": "max", "current_club_id": "first"})\
    .withColumnRenamed("max(market_value_in_eur)", "max_market_value_in_eur")\
    .withColumnRenamed("first(current_club_id)", "current_club_id")

# Total players in 2023
total_players_2023 = valuations2023.select("valuation.player_id").distinct().count()

# Calculate 1% of total players
top_1_percent = int(total_players_2023 * 0.01)

# Get the top 1% players based on market value
top_1_percent_players = max_valuations2023\
    .orderBy('max_market_value_in_eur', ascending=False)\
    .limit(top_1_percent)

# Clubs holding top 1% players
clubs_holding_top_1_percent_players = top_1_percent_players.select("current_club_id").distinct()

# Number of clubs holding top 1% players
num_clubs_holding_top_1_percent_players = clubs_holding_top_1_percent_players.count()

print("Number of clubs holding the top 1% players: ", num_clubs_holding_top_1_percent_players)

Number of clubs holding the top 1% players:  39

# EPL bookings example

In [10]:
cards_Premier_League = games_df.join(game_events_df, on="game_id", how="inner")\
    .join(player_valuation_df, on="player_id", how="inner")\
    .filter((col("type") == "Cards") & (col("competition_id") == "GB1"))\
    .orderBy(games_df.date)\
    .select(player_valuation_df.first_name, player_valuation_df.last_name, games_df.home_club_name, games_df.away_club_name, games_df.date, game_events_df.description, game_events_df.minute)  

cards_Premier_League.show(5, truncate=False)

+----------+---------+--------------------+-----------------------+----------+------------------------------+------+
|first_name|last_name|home_club_name      |away_club_name         |date      |description                   |minute|
+----------+---------+--------------------+-----------------------+----------+------------------------------+------+
|Dean      |Whitehead|Reading FC          |Stoke City             |2012-08-18|Yellow card  , Foul           |18    |
|Jonathan  |de Guzmán|Queens Park Rangers |Swansea City           |2012-08-18|1. Yellow card  , Foul        |41    |
|Dean      |Whitehead|Reading FC          |Stoke City             |2012-08-18|Second yellow  , Foul         |88    |
|Asmir     |Begovic  |Reading FC          |Stoke City             |2012-08-18|1. Yellow card  , Time wasting|90    |
|Daniel    |Agger    |West Bromwich Albion|Liverpool Football Club|2012-08-18|Red card  , Professional foul |58    |
+----------+---------+--------------------+-----------------------+----------+------------------------------+------+
only showing top 5 rows

# The goals scored by each player, since the data is being collected

In [14]:

player_goals = player_valuation_df\
    .join(game_events_df, on="player_id", how="inner")\
    .filter((col("type") == "Goals"))\
    .groupBy("player_id", "first_name", "last_name")\
    .agg(_sum(when(col("type") == "Goals", 1).otherwise(0)).alias("total_goals"))\
    .orderBy("total_goals", ascending=False)\
    .select("first_name", "last_name", "total_goals")


player_goals.show(5)

+----------+-----------------+-----------+
|first_name|        last_name|total_goals|
+----------+-----------------+-----------+
|    Robert|      Lewandowski|        450|
|    Lionel|            Messi|        443|
|       NaN|Cristiano Ronaldo|        433|
|     Harry|             Kane|        297|
|      Luis|           Suárez|        283|
+----------+-----------------+-----------+
only showing top 5 rows

# Saving the bookings example into parquet format

In [26]:
cards_Premier_League.write.mode("overwrite").parquet("raw_data\\transfermarkt\\epl_bookings")

# Closing the MongoDB client and the spark session

In [28]:
client.close()
ss.stop()